main {
  text-align: center;
}

h1 {
  text-align: center;
  margin: 50px;
}

#color-palette {
  text-align: center;
}

.color {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid black;
  padding: 20px;
  margin: 5px;
}

.selected {
  background-color: black;
}

#color1 {
  background-color: black;
}

#color2 {
  background-color: red;
}

#color3 {
  background-color: green;
}

#color4 {
  background-color: blue;
}

#clear-board {
  text-align: center;
  padding: 5px;
  margin-bottom: 7px;
}

#pixel-board {
  text-align: center;
  line-height: 0;
}

.pixel {
  height: 40px;
  width: 40px;
  padding: 20px;
  background-color: white;
  border: 1px solid black;
  display: inline-block;
}

